<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
    <title>Lexware|| Reports</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "css/bootstrap.css" />
</head>
<body>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>
    <form th:action="@{/pdf}" method="GET" class="form-signin">
        <h3 class="form-signin-heading" th:text="Reports"></h3>

        <label>Report Type :</label>
        <select name="reportType" class="form-control">
            <option value="" >
                --Select Report Type
            </option>
            <option value="PDF">
                PDF
            </option>
            <option VALUE="CSV">
                CSV
            </option>
        </select>
        <br/>
        <select name="matter" class="form-control">
            <option value="" >
                --Select Case Type
            </option>
            <option th:each="matter : ${matterList}"
                    th:value="${{matter.id}}"
                    th:text="${matter.name}">
                Cinema
            </option>

        </select>
        <br/>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="GENERATE"></button>


    </form>
</div>

<script>

    $('#csv').click(function (e) {

        // prevent the default event behaviour
        e.preventDefault();

        $.ajax({
            url: "/csv",
            type: "GET",
            success: function (data) {

                // perform your save call here

                if (data.status == "Success") {
                    alert("Done");
                } else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        var date_input=$('input[name="start"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker(

            {
            format: 'dd-mm-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
    });

    $(document).ready(function(){



       // $("#enddate").datepicker("setDate", new Date());
        var date_input=$('input[name="end"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            defaultDate:true,
            format: 'dd-mm-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>

</body>
</html>