<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Lexware || Requisition</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <meta charset='utf-8' content="Cory Sanoy" name="Author"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #50a3a2">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">LEXWARE</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a href="/logout"><span
                            class="glyphicon glyphicon-user"></span>Logout </a></li>
                </ul>
            </div>



        </div>
    </nav>
</div>
<br/>
<br/>

<div>
    <br/>
    <br/>


    <div sec:authorize="hasAuthority('ACCOUNTANT')">

        <table class="display" cellspacing="0" width="100%">
            <span th:utext="${successMessage}" class="text-success"></span>
            <caption>Requisitions</caption>
            <thead>
            <tr style="background-color: transparent">
                <th scope="col">Lawyer</th>
                <th scope="col">Client</th>
                <th scope="col">Requisation Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Payee</th>
                <th scope="col">Status</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requisition : ${list}">
                <td>
                    <span th:utext="${requisition.madeby.name}" class="text-success"></span>
                    <span th:utext="${requisition.madeby.lastName}" class="text-success"></span>
                </td>
                <td>
                    <span th:utext="${requisition.aCase.client.name}" class="text-success"></span>
                    <span th:utext="${requisition.aCase.client.lastName}" class="text-success"></span>
                </td>
                <td>
                    <span th:utext="${requisition.requisitionDate}" class="text-success"></span>
                </td>
                <td>
                    <span th:utext="${requisition.amount}" class="text-success"></span>
                </td>
                <td>
                    <span th:utext="${requisition.payee}" class="text-success"></span>
                </td>
                <td>
                    <span th:utext="${requisition.status}" class="text-success"></span>
                </td>
                <td>
                    <a th:if="${pending}" th:href="@{'/acceptrequsition/id'(id=${appointment.id})}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Accept
                    </a>
                    <a th:if="${pendind}" th:href="@{'/acceptrequsition/id'(id=${appointment.id})}" }>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Decline
                    </a>

                    <a th:if="${accepted}" th:href="@{'/acceptrequsition/id'(id=${appointment.id})}" }>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Archive
                    </a>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <br/>
</div>
</body>
</html>