<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Lexware || Requsition</title>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel = "stylesheet" href = "bootstrap.css" />


</head>
<body>

<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a style="color: white" href="/home" class="navbar-brand">LEXWARE</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-log-out"></span>Logout </a></li>
                </ul>
            </div>



        </div>
    </nav>
</div>
<br/>
<br/>
<br/>

<div class="jumbotron hero-spacer">
    <div align="center">

        <div class="container">

            <div class="row" th:object="${client}">




                <table class="table table-striped" style="width:600px;">
                    <tr>
                        <th>
                            Client
                        </th>
                        <td>

                            <span th:utext="${client.name}" class="text-success"></span>
                            <span th:utext="${client.lastName}" class="text-success"></span>

                        </td>
                        <th></th>


                    </tr>

                </table>
            </div>
            <div class="row">

                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div align="center"><strong>Make Requisition</strong></div>
                        </div>
                        <div class="panel-body">

                                   <form autocomplete="off" action="#" th:action="@{/saverequisition}"
                          th:object="${requisition}" method="post" class="form-horizontal">

                        <span th:utext="${successMessage}"></span>

                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">

                                        <label>Requisation Date: </label>
                                        <input type="date" th:field="*{requisitionDate}" name="requisitionDate"
                                               placeholder="" class="form-control"/>

                                        <input type="hidden" th:field="*{aCase}"/>
                                        <input type="hidden"  name ="caseId" th:value="${caseId}"/>


                                    </div>

                                    <div class="form-group">
                                        <label>Requisition Amount: </label>
                                        <input type="text" th:field="*{amount}"
                                               placeholder="US$0.00" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Payee: </label>
                                        <input type="text" th:field="*{payee}"
                                               placeholder="Payee" class="form-control"/>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <button type="submit" class="btn btn-primary btn-block">Submit Requisition</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </fieldset>


                    </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd.mm.yy'});
    });
</script>

</body>
</html>