<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>Lexware || Accounts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

</head>

<body>
<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">LEXWARE</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-log-out"></span>Logout </a></li>
                </ul>
            </div>   <div sec:authorize="hasAuthority('ACCOUNTANT')" id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/reportform"><span
                        class="glyphicon glyphicon-cog"></span>Report</a></li>


                <li><a href="/logout"><span
                        class="glyphicon glyphicon-user"></span>Logout </a></li>
            </ul>
        </div>




        </div>
    </nav>
</div>
<br/>
<br/>
<br/>

<div class="container">
    <div class="bgc">
        <h2>ADD ACCOUNTS</h2>
        <p>Search for Client Below</p>
        <div>
            <form class="form-horizontal" th:object="${client}" th:action="@{/utils}" method="post">
                <div class="row">

                    <label class="col-sm-2 control-label">Client LastName:</label>
                    <div class="col-sm-8">
                        <input type="text" autofocus="true" required="true"
                               id="auto" th:title="#{UserIdAuto}"
                               placeholder="Type last name, if there are many choose one of them"
                               class="form-control" th:field="*{lastName}" onkeyup="loadUsers()"/>

                    </div>
                    <button  value="Search" th:value="Search"
                             class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
                </div>

                <!--<div class="row">-->
                    <!--<input type="submit" value="Search" th:value="Search"-->
                           <!--class="btn btn-default" />-->
                <!--</div>-->
            </form>
            <div th:if="${not #lists.isEmpty(search)}">
                <p style="text-align: center; color: #08088A; font-size: 16px;">Registered Clients</p>
                <table id="deplist" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>National Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tr th:each="client : ${search}">
                        <td th:text="${client.nationalID}">Id</td>
                        <td th:text="${client.name}">First Name</td>
                        <td th:text="${client.lastName}">Last Name</td>
                        <td th:text="${client.email}">Gender</td>
                        <td>
                            <a th:href="@{'/client/addaccount/id'(id=${client.id})}"
                                    class="glyphicon glyphicon-plus btn btn-primary">Add Account</a>
                        </td>


                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>

<script>
    $("#auto").focus(function () {
        $("#auto").autocomplete("option", "minLength", 3);
        $("#auto").autocomplete("option", "delay", 500);
    });
    $(document).ready(function () {
        $("#auto").autocomplete({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            source: function (request, response) {
                $.getJSON("/utils//getClients/", {lastName: request.term}, function (result) {
                    response($.map(result, function (client) {
                        return {
                            label: client.lastName,
                            value: client.lastName
                        };

                    }));
                });
            }
        }).autocomplete("widget").addClass("fixed-height");

    });
</script>

<script>
    $(document).ready(function () {
        $('table.display').DataTable();
    });

</script>

<script>
    function loadUsers() {

        $("#auto").autocomplete("option", "minLength", 3);
        $("#auto").autocomplete("option", "delay", 500);
        $("#auto").autocomplete({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            source: function (request, response) {
                $.getJSON("/utils/getClients/", {lastName: request.term}, function (result) {
                    response($.map(result, function (employee) {
                        return {
                            label: employee.lastName,
                            value: employee.lastName
                        };

                    }));
                });
            }
        }).autocomplete("widget").addClass("fixed-height");
    }
</script>





</body>
</html>